<nav
    class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-900 text-gray-200 shadow-lg navbar navbar-expand-lg navbar-light"
    >
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <button
            class="navbar-toggler text-gray-200 border-0 hover:shadow-none hover:no-underline py-2 px-2.5 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="bars"
                class="w-6"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                >
                <path
                    fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                    ></path>
            </svg>
        </button>
        <div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent1">
            <a class="text-xl text-white pr-2 font-semibold" href="/">JobMe!</a>
            <!-- Left links -->
            <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
                <li class="nav-item p-2">
                    <a
                    type="button"
                    class="py-2 nav-link text-white opacity-60 hover:opacity-80 focus:opacity-80 p-0"
                    href="{{ path("app_jobber") }}"
                    >Jobber</a
                        >
                </li>
                <li class="nav-item p-2">
                    <a
                    type="button"
                    class="py-2 nav-link text-white opacity-60 hover:opacity-80 focus:opacity-80 p-0"
                    href="{{ path("app_list") }}"
                    >Annunci</a
                        >
                </li>
                <li class="nav-item p-2">
                    <a  type="button"
                        class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                        href="{{ path('app_advert') }}"
                        >Inserisci un annuncio</a
                        >
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
        {% if app.user == null %}
        <div class="flex items-center relative">
            <!-- Icon -->
            <a class="text-white opacity-60 hover:opacity-80 focus:opacity-80 mr-4" href="{{ path("app_login") }}">
            Login
            </a>
            <a class="text-white opacity-60 hover:opacity-80 focus:opacity-80 mr-4" href="{{ path("app_register") }}">
            Register
            </a>
            {% endif %}
            {% if app.user %}
            <span class="mr-4">Buongiorno {{ app.user.firstname }} !              
                {% if "ROLE_ADMIN" in app.user.roles %}
                Hai un profilo "Admin"
                {% elseif "ROLE_JOBBER" in app.user.roles %}
                  Hai un profilo "Jobber"
                {% elseif "ROLE_RICHIEDENTE" in app.user.roles %}
                  Hai un profilo "Ricchiedente"
                {% endif %}</span>
            <div class="dropdown dropstart relative">
                <a
                    class="dropdown-toggle flex items-center hidden-arrow"
                    href="#"
                    id="dropdownMenuButton2"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >
                {% if app.user.profile != null %}
                <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile') }}" loading="lazy" style="height: 25px; width: 25px" class="rounded-full" alt="Avatar" />
                {% else %}
                <img src="{{ asset('/images/profile/unknown-profile.jpg') }}"  loading="lazy" style="height: 25px; width: 25px" class="rounded-full" alt="ACME logo">
                {% endif %}
                </a>
                <ul
                    class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto right-0"
                    aria-labelledby="dropdownMenuButton2"
                    >
                    <li>
                        <a
                        class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
                        href="{{ path("app_profile") }}"
                        >Settings</a
                            >
                    </li>
                    <li>
                        <a
                        class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
                        href="{{ path("app_contact_list") }}"
                        >Messaggi</a
                            >
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <a
                        class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
                        href="{{ path("app_logout") }}"
                        >Logout</a
                            >
                    </li>
                    {% if "ROLE_ADMIN" in app.user.roles %}
                        <div class="dropdown-divider"></div>
                        <li>
                            <a
                            class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
                            href="{{ path("admin") }}"
                            >Administration</a
                                >
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</nav>